
body {
	background-image: url(./img/background.svg);
}

html {
	font-family: sans-serif;
	font: open-sans;
}

h1 {
	text-align: right;
	color: #EF008E;
	font-size: 28px;
	line-height: 100px;
	margin: 0;
}

p {		
	font-size: 13px;
	color: #CCC8FF;
}

a {
	font: open-sans;
	font-size: 13px;
	text-decoration: none;
	color: #EF008E; opacity: 0.6;
}

section#about img {
	width: 500px; 
	height: auto;
}

section#concerts img {
	width: 400px; 
	height: auto;
}

section#photos img {
	width: 300px; 
	height: auto;
}

header {
	width: 300px;
	height: 200px;
	position: sticky;
	top: 0px;
	left: 0px;
}

div.content {
	margin-left: 300px;
}

.content section {
	min-height: 100vh;
	height: auto;
}

footer {
	width: 300px;
	height: 200px;
	position: sticky;
	bottom: 0px;
	left: 0px;
}

